@inherits InputBase<string>

<div class="group">
    <input type="text" required="@Required" @bind="CurrentValue" /><span class="highlight"></span><span class="bar"></span>
    <label>@Label</label>
</div>