@inherits InputBase<string>

 <div class="group">
     <InputTextArea @bind-Value="CurrentValue"></InputTextArea><span class="highlight"></span><span class="bar"></span>
    <label>@Label</label>
</div>