@page "/"

@if (isLoading)
{
    <div class="spinner"></div>
} 
else 
{
    <SearchBar SearchTerm="@searchTerm" SearchTermChanged="@SearchTermChanged"></SearchBar>

    @if (Contributions.Any())
    {
        <div class="table-container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Title</div>
                    <div class="col col-2">Speakers</div>
                    <div class="col col-3">Type</div>
                    <div class="col col-4">Language</div>
                    <div class="col col-5">Primary Tag</div>
                </li>
                 <Virtualize Items="@Contributions" Context="c">
                     <TableRow @key="c.Id" Contribution="c" SearchTerm="@searchTerm" ContributionClicked="EventUtils.AsNonRenderingEventHandler(() => ContributionClicked(c.Id))" />
                </Virtualize>
            </ul>
        </div>
    } 
    else
    {
        <p>Keine Contributions gefunden....</p>
    }
}