@page "/"

@if (isLoading)
{
    <p>Loading....</p>
} 
else 
{
    <input class="search-bar" @bind-value="@searchTerm" @oninput="SearchTermChanged" />

    @if (Speakers.Any() && Contributions.Any())
    {
        <div class="table-container">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Title</div>
                    <div class="col col-2">Date</div>
                    <div class="col col-3">Type</div>
                    <div class="col col-4">Language</div>
                    <div class="col col-5">Primary Tag</div>
                </li>
                @foreach (var c in Contributions)
                {
                    <TableRow Contribution="c" SearchTerm="@searchTerm" ContributionClicked="() => ContributionClicked(c.Id)"></TableRow>
                }
            </ul>
        </div>
    } 
    else
    {
        <p>Keine Contributions gefunden....</p>
    }
}